/* Global styling */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0; 
    background-color: #f0f0f0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
}

.main-header {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;
}

.top, .bottom {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 0 10px;
    position: relative;
}

.bottom {
    margin-bottom: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

.controls{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    place-items:center;
}

#canvas-container {
    position: relative; 
    width: 100%;
    height: 100%;
    background-color: white;
    border-top: 1px solid #ccc;
    display: block; 
    overflow: hidden; 
}

/* 1. Almindelige Datapunkter */
.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer; /* Viser spørgsmålstegn ved hover */
    transition: all 0.2s ease;
}

.dot:hover {
    transform:scale(1.5); /* Gør lidt større ved hover */
    z-index: 100;
}

/* Brugerens Gæt (Ny Pingvin) styling - genbrug meget fra centroid men gør den firkantet */
.user-guess {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius:50%;
    box-shadow: 0 0 10px rgba(100,100,100,0.5);
    z-index: 200; /* Øverst */
}

/* Info Box Styling */
#info-box {
    position:fixed;
    /* Fast størrelse så den ikke hopper */
    width: 20rem;
    height: 10rem;
    overflow: hidden;
    bottom:4rem;
    right:2rem;
    padding: 8px 12px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none; /* Musen klikker igennem */
    z-index: 200;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}
