body{
    display:flex;
    justify-content: center;
    padding:0;
    margin:0;
    background-color: black;
}

#game-container{
    position:relative;
    width:fit-content;
    height:fit-content;
}

#bg{
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
}

.asta{
    position:absolute;
    top:50px;
    left:50px;
    width:50px;
}