@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body,
* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* grid layout  */
    display: grid;
    place-items: center;
    /* position fixed - klassen "show" viser pages */
    position: fixed;
    left: -100vw;
    transition: 1s ease-in-out all;
}

.show {
    left: 0;
}

.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}


#pageX {
    grid-template-columns: 1fr 3fr;
}

#pageX .left {
    grid-template-rows:repeat(6, 1fr);
} 

#pageX .left div:nth-child(even){
    background-color: lightskyblue;
}

#pageX .right {
    grid-template-rows:1fr 1fr;
}

#pageX .right .top {
    background-image: url(./assets/city.jpg);
    background-size:cover;
}

#page2 {
    grid-template-rows: 1fr 3fr;
}

#page2 .top {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: darkgray;
}

#page2 .bottom {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: orangered;
    background-image: url(./assets/city.jpg);
    background-size: cover;
}